<!DOCTYPE HTML>
<!--
      ___                       ___           ___           ___           ___           ___
     /\  \          ___        /\__\         /\  \         /\  \         /\  \         /\  \
     \:\  \        /\  \      /::|  |       /::\  \       /::\  \       /::\  \       /::\  \
      \:\  \       \:\  \    /:|:|  |      /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/\:\  \
      /::\  \      /::\__\  /:/|:|__|__   /::\~\:\  \   /::\~\:\  \   /:/  \:\  \   /:/  \:\  \
     /:/\:\__\  __/:/\/__/ /:/ |::::\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/__/_\:\__\ /:/__/_\:\__\
    /:/  \/__/ /\/:/  /    \/__/~~/:/  / \:\~\:\ \/__/ \/_|::\/:/  / \:\  /\ \/__/ \:\  /\ \/__/
   /:/  /      \::/__/           /:/  /   \:\ \:\__\      |:|::/  /   \:\ \:\__\    \:\ \:\__\
   \/__/        \:\__\          /:/  /     \:\ \/__/      |:|\/__/     \:\/:/  /     \:\/:/  /
                 \/__/         /:/  /       \:\__\        |:|  |        \::/  /       \::/  /
                               \/__/         \/__/         \|__|         \/__/         \/__/

		                 Copyright © 2016 TIMER.GG. All rights reserved.
-->
<html>
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="../images/fav.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <meta name="description"
          content="TIMER.GG is a League of Legends voice activated timing application equipped with both audio and visual feedback for both player and objective cool downs.">
    <meta name="keywords" content="league of legends,lol,lol timer,timer,lol summoners, timer gg, ">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="legal"
     style="margin-top: 50px; max-width: 1200px; margin-right: auto; text-align: center; margin-left: auto; font: 20px 'Montserrat';">
    <p>Hey, my name is Sam - an aspiring web developer and adamant League of Legends player. The idea for TIMER.GG came
        about after constantly forgetting just about every summoner spell cooldown possible. While in the middle of the
        action, I found it increasingly hard to remember these important timers and I found myself regularly losing
        fights by simply misjudging the outcomes. Being annoyed with the current in-game chat system and it's clunky
        navigation for logging said timers, I wanted to create a voice-triggered system to reduce the distraction of
        having to manually type and scroll through lines of text to find what you were looking for.</p>

    <p>It started out as just a personal project, later adapting more timers, an interface system, and a few
        miscellaneous features that I had found to improve my basic fundamentals of map awareness and wave control. As
        the application's build progressed, and my own play began to improve, I thought that maybe someone else could
        look to improve just like I had. TIMER.GG, or what I like to call the "Swiss Army Knife" of League of Legends,
        has been a staple of my gameplay and I hope that it serves the same for you. Though I did develop the
        application by myself, I've had a ton of help and insight from fellow friends and players that of which largely
        aided in its final completion and to whom I appreciate immensely.</p>
</div>

<div class="footer"
     style="position: absolute; width: 100%; bottom: 0; padding: 20px; font: 16px 'Montserrat'; text-transform: uppercase; color: #D7D7D7; background-color: #222;">
    <div class="foot-wrap" style="margin: auto; max-width: 1000px; height: 100%;">
        <div style="float: left;">Copyright &#xa9 2016 timer.gg</div>
        <div style="float: right;"><a onclick="back()" href="#">back</a></div>
        <script>
            function back() {
                window.history.back();
            }
        </script>
    </div>
</div>

</body>
</html>