html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes handle {
  from {
    height: 0;
  }
  to {
    left: 5px;
  }
}
@-webkit-keyframes handle {
  from {
    height: 0;
  }
  to {
    left: 5px;
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeRight {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}
@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
/* Internet Explorer */
/* Opera < 12.1 */
@keyframes navUp {
  from {
    top: 0px;
  }
  to {
    top: -50px;
  }
}
@keyframes navDown {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: .7;
    top: 0px;
  }
}
@-webkit-keyframes navUp {
  from {
    top: 0px;
  }
  to {
    top: -50px;
  }
}
@-webkit-keyframes navDown {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: .7;
    top: 0px;
  }
}
strong {
  font-weight: bold;
  color: #a4ba53;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  margin: 0;
}

.topContainer nav {
  z-index: 10;
  padding-top: 5px;
  font-family: 'Montserrat';
  font-size: 27px;
  height: 39px;
  text-decoration: none;
  opacity: 0.7;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #1B1B1B;
  box-shadow: 0px 0px 20px 0px #1B1B1B;
  width: 100%;
}
.topContainer nav.nav-up {
  content: '';
  -webkit-animation: navUp 1s;
  animation: navUp 1s;
  top: -50px;
}
.topContainer nav.nav-down {
  content: '';
  -webkit-animation: navDown .5s;
  animation: navDown .5s;
  top: 0px;
}

.logo {
  -webkit-animation: fadeRight 2s;
  animation: fadeRight 2s;
  padding-left: 18%;
  position: relative;
}
.logo span:hover {
  cursor: pointer;
}

nav ul {
  text-align: center;
  float: right;
  padding-right: 18%;
  position: relative;
  top: -32px;
}

nav ul li {
  display: inline-block;
  margin-right: -4px;
  margin-left: -4px;
  -webkit-animation: fadeDown 2s;
  animation: fadeDown 2s;
}

nav ul li a {
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  font: 600 16px 'Montserrat';
  color: #ADADAD;
}

.try-it-out {
  border: 3px solid #a4ba53;
  padding-bottom: 7px;
  padding-top: 5px;
}
nav ul li a:hover {
  color: #a4ba53;
  cursor: pointer;
  text-decoration: none;
}

nav ul li .standard-nav:after {
  z-index: 20;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  border-radius: 25%;
  width: 100%;
  height: 0;
  text-decoration: none;
  background-color: #a4ba53;
  -webkit-transition: height .1s linear;
  transition: height .1s linear;
}

nav ul li .standard-nav:hover:after {
  height: 8%;
}

.centerHeader {
  position: relative;
  padding-top: 180px;
  text-align: center;
}

.subHeader {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  font: 120px 'Montserrat';
  position: absolute;
  width: 100%;
  -webkit-animation: fadeDown 3s;
  animation: fadeDown 3s;
}

h2 {
  content: "When timing is everything...";
  text-align: center;
  font: 30px 'Montserrat';
  position: relative;
  color: #1B1B1B;
  width: 100%;
  -webkit-animation: fadeDown 2s;
  animation: fadeDown 2s;
}

.summonerInput {
  width: 395px;
  display: inline-block;
  background: #f4f4f4;
  background: rgba(244, 244, 244, 0.79);
  border: 1px solid #d3d3d3;
  padding-top: 2px;
  padding-left: 2px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.summoner-wrapper, .region-wrapper {
  position: relative;
  height: 40px;
  text-align: center;
}

.summoner-wrapper {
  margin-top: 70px;
}
.summonerInput input, .summonerInput a.button {
  float: left;
}

.summonerInput input {
  background: #fefefe;
  border: none;
  font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  margin-right: 5px;
  padding: 10px;
  width: 277px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

.summonerInput input:focus {
  outline: none;
  box-shadow: 0 0 4px #a4ba53 inset;
  -moz-box-shadow: 0 0 4px #a4ba53 inset;
  -webkit-box-shadow: 0 0 4px #a4ba53 inset;
}

.summonerInput input::-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px;
}

.summonerInput input:-moz-placeholder {
  font-style: italic;
  line-height: 15px;
}

.summonerInput a.button {

  background: #a4ba53;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
  border: none;
  color: #fff;
  cursor: pointer;
  font: 13px/13px 'Montserrat';
  padding: 10px;
  text-decoration: none;
  text-align: center;
  width: 106px;
  box-shadow: 0 0 2px #a4ba53 inset;
  -moz-box-shadow: 0 0 2px #a4ba53 inset;
  -webkit-box-shadow: 0 0 2px #a4ba53 inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  margin-right: 3px;
}

.summonerInput a.button:hover {
  opacity: .9;
}

.adv-long {
  position: relative;
  text-align: center;
  width: 728px;
  height: 90px;
  margin: 20px auto;
}
.clock {
  z-index: -1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;
  width: 1200px;
  height: 1200px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -49%, 0);
  border-radius: 50%;
  border: 35px solid #EEEEEE;
  background-color: #fff;
  position: absolute;
}

.hand {
  position: absolute;
  background-color: #EEEEEE;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.center {
  left: 49.17%;
  top: 49.17%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 0px;
}

.hour {
  height: 20%;
  top: 30%;
  left: 50%;
  width: 6px;
  margin-left: -1.5px;
}

.minute {
  height: 30%;
  top: 20%;
  left: 50%;
  width: 6px;
  margin-left: -1px;
}

.second {
  height: 45%;
  top: 5%;
  left: 50%;
  width: 3px;
  margin-left: -0.5px;
}

.regionSel {
  float: none;
  overflow: hidden;
  background: #EEEEEE;
  display: inline-block;
  position: relative;
  margin: auto;
  top: 15px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font: 10px 'Montserrat';
}
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  border-left: 1px inset;
  border-color: #EEEEEE;
  background-color: #ADADAD;
  display: block;
  float: left;
  position: relative;
  height: 20px;
  vertical-align: middle;
  padding-top: 3px;
}

input[type="radio"] + label:first-of-type {
  border-left: none !important;
}

input[type="radio"]:checked + label {
  background-color: #a4ba53;
}

label:hover {
  cursor: pointer;
}

.aboutContainer {
  text-align: center;
  position: relative;
  padding: 60px 13%;
  font: 30px 'Montserrat';
  color: #fff;
  width: 100%;
  background-color: #42464b;
  display: block;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #1B1B1B;
}

.featuresContainer {
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  width: 100%;

  display: block;
  overflow: auto;
  background-color: white;
}

.blockWrapper {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0;
}

.block {
  display: inline-block;
  padding: 50px;
  vertical-align: top;
}

.block i {
  font-size: 100px;
  color: #333;
  padding-bottom: 20px;
}

.block h2 {
  color: #333;
  font: 42px 'Montserrat';
  padding: 0 auto;
}
.block p {
  color: #92979b;
  font: 18px 'Montserrat';
  max-width: 300px;
  min-width: 300px;
  text-align: center;
  padding: 20px 0;
}

.warning {
  display: block;
  width: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto 0 auto;
  bottom: 440px;
}

.alert-danger {
  display: none;
  width: 50%;
  text-align: center;
  top: 20px;
  margin: 0 auto;
  position: relative;
}

.alert strong {
  color: red;
}

.footer {
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 150px;
  font: 16px 'Montserrat';
  text-transform: uppercase;
  color: #D7D7D7;
  background-color: #222;
}

.foot-wrap {
  margin: auto;
  max-width: 1000px;
  height: 100%;
}

.copy-right, .back-to-top {
  position: relative;
  margin-top: 70px;
}

.copy-right {
  float: left;
  padding-left: 20px;
}

.back-to-top {
  float: right;
  padding-right: 20px;
}

.back-to-top a {
  color: #D7D7D7;
  cursor: pointer;
}

.back-to-top a:hover {
  color: gray;
  text-decoration: none;
}

.copy-right a:focus {
  color: #a9c056;
}

.copy-right a:active {
  color: #a9c056;
}

a:focus {
  text-decoration: none;
  color: #a9c056;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.selected::after, .selected::before, .trigger::after, .trigger::before, .faq ul li a::before, .faq ul li a::after, .faq ul li h2::before, .faq ul li h2::after, .cd-close-panel::after, .cd-close-panel::before {
  content: '';
}

body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 83, 89, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

body.cd-overlay::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 768px) {
  body::after {
    display: none;
  }
}

a {
  color: #a9c056;
  text-decoration: none;
}

header {
  position: relative;
  height: 180px;
  line-height: 180px;
  text-align: center;
  background-color: tomato;
}

header h1 {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-size: 1.25rem;
}

@media only screen and (min-width: 1024px) {
  header {
    height: 240px;
    line-height: 240px;
  }

  header h1 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
  }
}

.faqContainer {
  background-color: #f3f3f5;
  padding-bottom: 56px;
}

.faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.faq:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
}

.categories a::before, .categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}

.categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.categories li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }

  .categories a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600;
    padding-left: 24px;
    padding: 0 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }

  .categories a::before, .categories a::after {
    display: none;
  }

  .no-touch .categories a:hover {
    background: #555b61;
  }

  .no-js .categories {
    width: 100%;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .categories {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 2;
  }

  .categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #a9c056;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

  .categories .selected {
    background: #42464b !important;
  }

  .categories .selected::before {
    opacity: 1;
  }

  .categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }

  .no-js .categories {
    position: relative;
  }
}

.faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

.faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}

.no-js .faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media only screen and (min-width: 768px) {
  .faq-items {
    position: relative;
    height: auto;
    width: 80%;
    margin: 0 auto !important;
    float: none;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}

@media only screen and (min-width: 1024px) {
  .faq-items {
    float: none;
    width: 80%;
    margin: 0 auto !important;
  }

  .no-js .faq-items {
    padding-left: 0;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}

.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}

.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cd-close-panel.move-left {
  right: 2%;
}

@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.faq-group {
  /* hide group not selected */
  display: none;
}

.faq-group.selected {
  display: block;
}

.faq-group .faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}

.no-touch .faq-group .faq-title:hover {
  box-shadow: none;
}

.faq-group .faq-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #bbbbc7;
}

.no-js .faq-group {
  display: block;
}

@media only screen and (min-width: 768px) {
  .faq-group {
    /* all groups visible */
    display: block;
  }

  .faq-group > li {
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }

  .no-touch .faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }

  .faq-group .faq-title {
    margin: 2em 0 1em;
  }

  .faq-group:first-child .faq-title {
    margin-top: 0;
  }
}

.trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .trigger {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }

  .trigger::before, .trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  .trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }

  .trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .content-visible .trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .content-visible .trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.faq-content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #6c7d8e;
}

@media only screen and (min-width: 768px) {
  .faq-content {
    display: none;
    padding: 0 24px 30px;
  }

  .faq-content p {
    line-height: 1.6;
  }

  .no-js .faq-content {
    display: block;
  }
}

.centerContainer {
  height: 100%;
}

.faq-header {
  display: table;
  width: 100%;
  height: 200px;
  background-color: #42464b;
  text-align: center;
}

.faq-header span {
  display: table-cell;
  vertical-align: middle;
  font: bold 80px 'Montserrat';
  color: #a4ba53;
}

.topContainer {
  position: absolute;
  top: 0;
}

.mail {
  width: 100%;
  background: #a4ba53;
  text-align: center;
  color: #222222;
  padding: 20px;
}

.mail a {
  margin: auto;
  display: table;
  color: #ECF0F1;
}

.mail a:hover {
  cursor: pointer;
}

.mail a i {
  position: relative;
  margin: auto 8px auto 8px;
  font-size: 28px;
}

.mail a span {
  vertical-align: middle;
  display: table-cell;
  position: relative;
  margin: auto;
}
